.process {
    padding: 10px 0 100px 0;
    position: relative;
    overflow: hidden;
    background-image: url(../../images/shape-bg.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: 100%;
}
.heading-title {
    text-align: center;
}
.heading-title h6 {
    font-weight: bold;
    font-size: 20px;
    color: var(--secColor);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAASBAMAAABlZ9nIAAAAGFBMVEUAAADxdzLxdzLxdzLxdzLxdzLxdzLxdzKwbUUiAAAACHRSTlMAJQghGR0UD71uIrEAAABJSURBVAjXJcjBDYAgFATRQSPn/WriVTqgBOxAS7AD+j+xCZlkDg+iwRLAdnjp8n4xHfuN/cUul0UjyVoEfNWLDjmA9fTK7j2VAcLzBK44KxdZAAAAAElFTkSuQmCC);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 auto 20px auto;
}
.heading-title h2 {
    color: var(--mainColor);
    font-weight: bold;
}
.process .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding-top: 30px;
}
@media (max-width:767px) {
    .process .box-container {
        flex-wrap: wrap;
        width: 100%;
    }
    
}
.box-container .active {
    background-color: var(--secColor);
    color: white;
}

.box-container .active span {

    -webkit-text-stroke: 2px var(--mainColor);
}
.box-container .active h4 {

    color: white;
}
.box-container .active button {

    background-color: white;
    color: var(--secColor);
}

.onebox {
    position: relative;
    box-shadow: 0 10px 60px 0 rgb(31 34 120 / 10%);
    padding: 20px 20px 50px;
    border-radius: 20px;
    background-color: #fff;
    transition: all .5s;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5 ease;
}
.onebox::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--secColor);
    z-index: -1;
    transition: 0.3s; 
    
}
.onebox:hover::after {
    width: 100%;
    height: 100%;
    background-color: var(--secColor);
    
}
.onebox:hover span {
    -webkit-text-stroke: 2px var(--mainColor);
}
.onebox:hover h4 ,
.onebox:hover p{
    color: white;
}
.onebox:hover button {
    background-color: white;
    color: var(--secColor);
}
.onebox:hover span {
    -webkit-text-stroke: 2px var(--mainColor);
}
@media (max-width:991px) {
    .onebox  {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right:  30px;
    }
}

.onebox span {
    font-size: 80px;
    font-weight: 900;
    -webkit-text-stroke: 2px #f17732;
    text-shadow: 0 10px 0 #ffe3d3;
    color: transparent;
    padding-left: 20px;
}
.onebox h4 {
    color: var(--secColor);
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}
@media (max-width:991px) {
    .onebox h4  {
        font-size: 17px;
    }
}
.onebox p {
    width: 75%;
    padding-left: 20px;
}
@media (max-width:991px) {
    .onebox p  {
        width: 100%;
    }
}
.onebox button {
    margin-left: 20px;
    border: none;
    background-color: rgb(188, 188, 225);
    color: var(--mainColor);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    text-align: center;
    width: fit-content;
}
@media (max-width:991px) {
    .onebox button {
        font-size: 12px;
    }
}
.onebox button svg {
    padding-top: 3px;
}
.images-decore img {
    width: 70px;
    z-index: -1;
}
.image-one-d {
    position: absolute;
    top: 140px;
    left: 150px;
    animation: mover 2s infinite alternate-reverse both;
}
@media (max-width:767px) {
    .image-one-d {
        top: 120px;
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.image-two-d {
    position: absolute;
    left: 1000px;
    z-index: 2;
    top: 200px;
}
@media (max-width:767px) {
    .image-two-d {
        top: 470px;
        left: 300px;
    }
}
.image-three-d {
    position: absolute;
    left: 580px;
    animation: moverr 2s infinite alternate-reverse both;
}
@media (max-width:767px) {
    .image-three-d {
        top: 130px;
        left: 340px;
        z-index: 200;
    }
}
@keyframes moverr {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10px);
    }
}