.booking-us-heading {
    padding-top: 200px;
    padding-bottom: 130px;
    background-image: url(../../images//footerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.booking-us-heading::after {
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAB4AAAABWCAMAAAAZvHtIAAABC1BMVEUAAADp6v/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/p6v/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/o6f/7+//8/P/7/P/+/v/+/v/9/f/8/P/8/P/z8//09P/8/P/////6+v/////o6f/9/v/t7f/5+v/u7//19f/8/P/q6//y8v/y8//s7P/7+//29v/w8f/3+P/4+P/w8P/z9P8CgEdYAAAARnRSTlMA8PllMv13mOVE9X4EAZ6IXVQY27WkxcCp6yDUjcu7EAqUc2xYBxTfS0A7sVAkNy0phdhoSNAccK15nIPv3LmqkPPvxcxs2u5Y/wAAEXVJREFUeNrs3dd6olAUBWAVBJSIIiKIgoKdWKOJeYLBFmss7/8kQ8z0yRTUGMD13+T7NHcoi33OPtsAAAAAAAAAAAAAAAAAAACAuxUqCmlGGjxRpNi4TnOyrGlpVb0XBIEJHlg/CB5U7TdVVZW0W5mjc3GK6hE8HzHbSj4AAAAAb4hVOq1+qUfFaVlLZ6vBsHVewWo2nZLpOFssRciHQgAAAOBqFZRWjaByYiotZKzLijJqiosbiUinEgAAALgGyXYtwepyWoharhCtpuWcUTIfbgIAAAC+U2nxg5yYroYstwozabFLRJoIYgAA8IEKyRv6bdYl5e7/CFU1muLb2CcGAAAvKrcPwRu0PKsq0UZfiQUAAAC8oNxpULRUDVv+EL2XWR7L0gAA4GIVk4jfCu7d5D1BVOWMSDIAAAAOlPNJRWmSB2bkgK+9/jXJg7aiKPk89vxOid6erjGW32UknSDLAQAA+Fk+2SEjjUSPiuvco6apqiBkgiFHdU6QEe5UVUvJHB1nKaJUq5NKBcuPf1EmE/GU/6P3B6F7rmjiaQ0Arlz5od1PDLq6rKlC0Ho3USYr3XI5ttcwOxU05XyVrxti1pcLzv8WynLFFmphALg2hU69NMiJ0sd02IYzWU3MGYlI+4pnKFUilCz4pc3qaKG0nmgGAAB8r9ysEywn3bnnYEtUkMTcoEFeVRIna+xj1bqA2XI0mux28/liP52u15vNeDxerVZPtuHBpx8MD55s9r+Mx9vNej2d7hfz+W43GY2WM+vdZFJsHQvSAOBPMSVCdMU04+KCK5i91Y1Sy+9dsjetovhu2Wvn7eR5vpiuN3bOPg0/ndnwyc7lzXq6nz9PRkvrvMJqjvf7xYfLyyeVNlmP1PgSQRAGRVFs/DvKZtivl/hGxCSbSh47InBeyToRf/TSLmP0TqONWseP34QHPpc++5VYjnbPi+lmO3YeuKfn8XY9XdhhfLbi+I7DejScIt9s1Uo9qquLt5IqZEKWU8GMkFUlTaZzbDHRqJNKHh0rcIRYs0GJqnvWmh0KCym92PfN8IYb03hkrLOZ2ZXufrp5CV1XGD6NN3YUn6UsZuRiG/c8+H+FplkqsrosZZl3qTSC1awk091Bot9SsFMC//TQNzjVQ4OD/yIkpHKE6e0N4kKd1c5zNWaj3cJFsfsWO4n388mpQZyRe50AwF/EkiZfjIvahftIQ0xWemkg7beTeEyEX9y0E7rk2ar3zzISXax7MYYL/e7pq86vwbtduTh33wji9WI3sk7AiASWo+E3ZaWeYDnNBdPiwsx9iusWGyR6FyBwQxJ62h9l758wWo5oeWcNKN/IqWHrJN4L3jdy+IR6uMqVvPjYBe+h0ObdOiA9VE2LuSLv+xZSeFszoasf/0B4GeGsSEVcf1e+MdmTKl87edfjp08+MVxt9rsjYzh8H4/4sSMP/ttNh6c4yROj4qJ3KZry/1kO+CYfYVMZ6+owqTjfdOseTGdwG7SONBvNp1vfJO8vMWxXwzPrCFHNIN16seEdFchE9/HOg7VFNJvSjYYvz3LAN0qCy4ati5jNlsvl6NXkYDf5YvTKfn82sy4qmNYTHZfdmJMJjrGOMpvMp2MPrzb/p+F4+jyynGOwGn1NymQip1UtjwtXNdpotJHDvhPr9ETGOr/DLIfdyzCH6Wb7MjXpMDLpkwOHYUpfByntF/Pn3eRdpygFtTivBFwh1mKP2/QdPV9D9P5otZ47T+GwRKEQ9r2Y0mDlOzfu9B7NzmG9GHnAZ9cfYu3BY8Y6l8OZ0sV+unE+O8lZLq/G25chSnYenz+OM7dsLRn4UPkSd8xFmSw2q09X6pgUZmg+HwB/Kr80kvrwEMcXUVWkGr4ZbXClFEI+S/gu7dS1Q/eDOmztNN6cd4aSTRB77Q/6dLcNKWQ5NLOz15+bvU5XpJeWIyGJagfAX/Jmkbv34Gavc6F7kaq5ZM0OHEmWuKp1Gjt3966a5PA6Q2l3riQOamz/whVSzMwJljOzyd6njVbHGW73E8sRhm545zwa/FXBHIj+WnL+D8E0PXD/YQ745sbs3oetoy0n8/3G1edahqutXROfI4jDWfpiE4XLNTpjOTKao+5902q6c3TxQ5qBaVkeV2713ruPdHb4RbDJzm5smc8Xtv30u8UL+/Xn1x/8Ws6sy2JSXfce5oDP7N2JWtpAEADgcGM4RAhySIsICApFBQ+eoJMQCIRDeP8n6WdaW6scmU2AbDL/Kywfk52d4690ijnvrKljvkY5yMYMJR0sOcxE4XIt7wMEfem1Wius0QyXj86UbuhJjU+JPQ0v0BX1vYZ0OpJlhmKV0fR96Re+gBTPuAz3OJov5DWJzgNbaa2+XC14iryfjAZDqzOFC62XYFzYk3JK8oN5yuSV37M4KHmBKs3y5ak9iTfXj/YOL9CV+dgoI0UEXOQazsVsNUEs4UTzPyWrFIUd5zqVLQCapk5mHIfe/4xeh2MreWmfFO7YH4Qvay1E9FVXdPFFB2EdTPPnrmhqNCfid71sF2yhKcvx4etIZUQBKZb/Ilm9pSjsEIlg7DwEKK7tKJUHs7GqASOfdGVnOvryLC+CWaorzwPhQEG4S8lox7tuPtiwKcYoJJ05opBUfluIPV7aG4r9T5HAHf2Wj6z+GIkCjuL6QUryYDhWgE0hHygKNoi3sz4waTn0bIuvfW/CmvkjztaoRdihEvcBq9VWTh6QbvRy2BmJfbmSU8YLeRC2uAf0+dAtKefdpgvGicLQiNTSgiWdSgHMUVaDn8QO06EKm1Ey2vEub8PWXnyNyMvH5cIoIZ3bFIij/fANJaQPLd2T/ICgrrxY3SMPhgyV0tZ26xRjXTCBCq72cNoTBdajZLSjpdsla1vB5nyuJjGaKpcKWOb/VknRN+XB3Icxz776fObpHCd+ipJBlKr4n3Q5kDN1Mtp8QcF3H+T12WhKRjvVW9Y5A4yM0OvMdDN6H7b1OFxoXd3SQod9S3ROu2ASzXOweBfOoCYpJW6yIqxDeeeDQlyE/d8pGX089durVgEY6cuV2/7bbOipFHMPTfqq3Jv4yeaiK0pxmpplqAGG8Rd9J5iRDmfAhPmMDmX/5NkSzOqeUjL68MrNh5wICJ4pJJWnC0sjhowZf1SaZb960/wiHX1MKc4NRgt0jXSj8ljfVfXcCsFOyoSuvgh2X4QpGe0QxVSEtdZZHXvkPe0tDFu5DUfz1SB9V9rn8sx0ybM2n7ksNWM7eYAd6y+2Amlhk+JDFHZShnQqhzYyexGmmdEHEg9W81FgonhwLZg8mE0sTDb4HqP6aDuUU30RzFGpqdSsKXKicOibsE7i0cTlV6XE85HIg4kOJjUqTSpi2Z/yY+y7D1goXrn3bnw6Y85J+89P6VHYkuvAuoYjKq09wkThdadzlYFd6FiObGS+R1iUevR8tgfFVIUt66zP6Urxd8yfAkxC30ptmoTO5Ln6ta2FSmvtJb+afSwUPgsmRdhhTpVwTiAvzLcndUsndBG2T7zz0o8CA42mo38xZYvCRmVW7VkguHbffwuO6OqLZn8Q/vTHcnYOFH05gkhGi1KV2pNscL271pn6Jw8XhTNJGtfB0O5LV1+EfQZh4YPyVQO2W9JXkeOYT0YbTeBUwcIucbdprjNdfI8ZhaP53j0t99+u/rHdl4p7EPa7W0f460fFR9GXT5hktD8Xu6VeDqaL78ZyK6q2Mhx11G6h/0I9Spsbjv4t0qHiHoT979YR/uj0Q7CNMqSDcTREMhp8rSr1J2H6jHrJLuxG4+ptzNypgOeTwvRx+UU60BLBDG1MaRok67t1/rQd5WAbfUWPVxzAJKOhkUxRActOiR+pyrkIDLTlkN7RLJmyzbunRuGPgjGTRVc6TVTaP/l1rH8NwPHUE2wzppPhhryYg3mZSCotkA3SzQeJtceX5gbZWMSC5j+n6dG/V+s34B+aqOQInyYpCfXe1kNS6U2AN5hkNEA3UqMg/DX2xlpR2IbG1eOxvwqrGmCFLiqeTvEUe++JZyq6cpqPS2aFKGymTejDiEuoZDRANxmgN2HrsVdT3bxQwXb4GX9o0Wz1zoOPwvWTUhcMFH2d6v0vWoCNlq8/CbdwyWhj82rHg/9VH8Tva6dSFHajDeUo9s74Q/NJ3noUvq9KIvxBXaVOJr+ONRA21l3R2XAPl4w2Nq+2PZmPvrztRc5FYKTQnjYM6ztn0PznJU/8sNOpZBTe0UQlDkwFWEely69LGJkOlEb/ykM3hvh97aGfCQErmrBxBIOhCniN/EvHxfNYy+3KBZikjSn6OoRAL79uZ9S+44QukoGgi/+s3iSKzXD+yQ9b0E4F55oOlxogGVfhmgs3k1y3S99CYJJObS0OIsAnCr3Ku5BxEUbyPyWrt27s5qjfncWyTyJsQbXOPJga84XQClKs6Z6EdLoWQYxHVVb00egonwLwkj6O3Mq4CKOFMvnwo2vaOdI3gZK0I+FMc525MjLKo/Ea+fAJ7/sM451qNgMfULsvdwT4gHLPLmc0gTPw5SK9G47/rhLPN4HT/JMPdqK5zhwyyqNZNPrc3oWfz0qfywap4YhDArzTadqzJwxWCrAp5CLVkyJXa2fKd81qqXUhgil08eWXMTOLSVQ6rd3z1IH33F7bqk4NRzwS4DeF6p69w8hGs/Jf9E8DN8/OjsPXwfZLqYW78tJoyV/s3dlyokAUBmAVBRVHQAFXHLcYUeOu5AmmRSLEuOD7P8lIV3kxU86kiiWx4Xx3Xkv1X33O6W7SuQ9hlFhJ7czDb4Z/VIWZWEH3wMgzmWLIYUDrN2rwA1keJGpii+4OHiqIn6oDQeOk0jyL/LI/wu1WRMEHhd2Ky0x7+Zg1np7aYeQ4+id4Wp9MTgAfoa8VTTiEPUo8l6QZtZwUvmvZyhUmGV6b5cVVGvnKtKHoTCbn9mjkXlaR2G7yUeb/cy/LDlOqIBcMKNw8vBiy4E+KMhzCfkilV2Ke07rqtBcLWHM9GYx4jW29luYVFADThod8SYdfM/SiIl9zePxtZWmcvC2xmECu7KHwTIQYxC/ARzl8lKrM5WG+zmr8SE1WC01vfa+f65ek2hcojeZakijX0gkUBMje8MHj0R5l5w2G5QfrXOyLNKdLapYv4eR1yYDzRqSI/QLgCg+wBCWeLipKQyxLDFPnZjRNdygHLzh4CuvQGMtxdYaRyuVGQ1GKxXgWfRkd+r0hhJvCPkillSHDUv1kMM2Wp/V4tGAZ74ODOmx9SQIBDG6ctco2URTp1gGyN8S2b7592LcCD9fm++Pp2n2rONerJlWBorn8UC7GkR/MIxw3IgwEMPjT7vxuoOjQj5cz1OuiYHcKpsYTf67JYjnP1DmWXlBdIeNQkzdj52dfuKIWNMu1mPJrQ1aK6SzymQ1XkxMIAhjc8XGwdBRye/v99AEbhkjZbJ3RrNAxIXxJBQEM7sMpHM69sG5fIHqja3O+GOHptJhHuB6VYBDA4D9w4S48q5VpWG9QcAZh+a516wRfM9kggMHnNtuDRfRytb8mL2x6wV925O6FTRtG9n+3byfJDcJAAEUrWfpGMTLgqUoSYhDz/U8SINmmYhswIP5bcAQ+6kYuIMB41JDhjW3QVJOamvLib7I25aZ+eOCqukMIMJ4j89qsvsOJajLCi4fJfBMjacu51zEEGK8YOpyVal3vLNt3t9Ix7yi8QuoiW+m3ZRJxVd1FBBjjxLpq02jBEicqKrO24LyLaci8alc0lLak12EEGBOReV2YrJy/xUNzmy66puawi7lIXbWLjngs/+y7jwBjerEW4ny5XM7nw+Gj8zmqtolVUdSkXXBNVetc0ly8j4x18d4QqyhtK015d4EAY35CnG433w+C4zEMQ8/zvn7c7/3T64XhcRAEge/71+v11BFCUFusQz/hmXHZkqgmZZGyOwQYAJ4gY/27bVF2THKt6gc7pmCTsl8EGACA/xFgAABcQIABAFjANy2shNFoghHGAAAAAElFTkSuQmCC);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    z-index: -1;
}
.booking-us-heading h2 {
    font-size: 60px;
    color: var(--mainColor);
    font-weight: bold;
}
.booking-us-heading p {
    padding-top: 10px;
    background-color: var(--mainColor);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.booking-us-heading p a {
    color: white;
    margin: 0 5px;
    font-weight: bold;
}
.booking-us-heading p span {
    font-weight: 300;
    margin: 0 5px;
}
.images-deocre-booking img:first-child {
    position: absolute;
    left: 50px;
    top: 200px;
    animation: moveY 2s linear alternate-reverse infinite;
    z-index: -1;
}
@media (max-width:767px) {
    .images-deocre-booking img:first-child {
        position: absolute;
        left: 50px;
        top: 200px;
        width: 60px;
        animation: moveY 2s linear alternate-reverse infinite;
        z-index: -1;
    }
}
.images-deocre-booking img:nth-child(2){
    position: absolute;
    right: 100px;
    top: 320px;
    animation: rotate 20s linear alternate-reverse infinite;
    z-index: -1;
}
@media (max-width:767px) {
    .images-deocre-booking img:nth-child(2){

        width: 60px;
        z-index: -1;

    }
}
