.footer {
    padding: 30px 0;
    background-image: url(../../images//footerbg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.footer::after {
    background-image: url(../../images/footerafter.png);
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}
.box-footer-row1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-footer-row1 img {
    width: 70%;
    padding-top: 60px;
}
.box-footer-row1 p {
    font-size: 18px;
    color: #444;
    padding-top: 10px;
}
.box-footer-row1 .contact {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 15px;

}
.box-footer-row1 .contact svg {
    font-size: 25px;
    color: white;
    background-color: var(--secColor);
    padding: 16px;
    border-radius: 30px 30px 0 30px;
}
.box-footer-row1 .contact .info h6 {
    color: var(--secColor);
    font-weight: bold;
}
.box-footer-row1 .contact .info span {
    font-size: 20px;
    font-weight: bold;
    color: var(--mainColor);
}


.box-footer-row2 {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}
.box-footer-row2 h3 {
    font-weight: bold;
    position: relative;
    color: var(--mainColor);
}
.box-footer-row2 h3::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(../../images/before-footer-heading.png);
    background-repeat: no-repeat;
}
.box-footer-row2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-footer-row2 ul li a {
    color: #333;
    font-size: 17px;
}
.box-footer-row2 ul li a:hover {
    color: var(--mainColor);
}

.box-footer-row3 {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}
.box-footer-row3 h3 {
    font-weight: bold;
    position: relative;
    color: var(--mainColor);
}
.box-footer-row3 h3::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(../../images/before-footer-heading.png);
    background-repeat: no-repeat;
}
.box-footer-row3 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-footer-row3 ul li a {
    color: #333;
    font-size: 17px;
}
.box-footer-row3 ul li a:hover {
    color: var(--mainColor);
}



.box-footer-row4 {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box-footer-row4 h3 {
    font-weight: bold;
    position: relative;
    color: var(--mainColor);
    margin-bottom: 30px;
}
.box-footer-row4 h3::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url(../../images/before-footer-heading.png);
    background-repeat: no-repeat;
}
.box-footer-row4 ul {
    display: flex;
    justify-content: center;
    margin-left: -20px;
    gap: 20px;
}

.box-footer-row4 ul li a svg {
    font-size: 23px;
    transition: 1s;
}
.box-footer-row4 ul li a svg:hover {
    transform: rotate(360deg);
}
.box-footer-row4 input {
    border-radius: 10px;
    border: 1px solid white;
    background-color: white;
    padding: 13px 20px;
    outline: none;
}
.box-footer-row4 ul li:first-child a svg {
    color: #0078d7;
}
.box-footer-row4 ul li:nth-child(2) a svg {
    color: #1da1f2;
}
.box-footer-row4 ul li:nth-child(3) a svg {
    color: #333;
}
.box-footer-row4 ul li:nth-child(4) a svg {
    color: #0077b5;
}
.box-footer-row4 input::placeholder {
    color: black;
}
.box-footer-row4 button {
    border-radius: 10px;
    background-color: var(--secColor);
    color: white;
    border: none;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copywrite {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0;
    border-top: 1px solid rgb(199, 199, 247);
    margin-top: 20px;
    margin-bottom: 0;
}
.copywrite a {
    color: var(--secColor);
    font-weight: bold;
}
.images-decore-footer img:first-child {
    width: 70px;
    position: absolute;
    top: 380px;
    z-index: -1;
    left: 80px;
    animation: moveY 2s linear infinite alternate-reverse;
}
.images-decore-footer img:nth-child(2) {
    width: 70px;
    position: absolute;
    top: 180px;
    z-index: -1;
    left: 1100px;
    animation: rotate 20s linear infinite alternate-reverse;
}
@media (max-width:991px) {
    .images-decore-footer img:nth-child(2) {
        top: 520px;
        left: 730px;
    }
}
@media (max-width:767px) {
    .images-decore-footer img:nth-child(2) {
        top: 1190px;
        left: 270px;
    }
}
.images-decore-footer img:nth-child(3) {
    width: 70px;
    position: absolute;
    top: 70px;
    z-index: -1;
    left: 100px;
    animation: moveX 2s linear infinite alternate-reverse;
}