
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slider {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-box {
  background-color: rgb(236, 137, 71);
  padding: 30px 60px;
  border-radius: 20px;
}
@media (max-width:576px) {
  .slider-box {
    padding: 40px 20px 20px 20px;
  }
}
.slider-box p {
  font-size: 16px;
  text-align: start;
  color: white;
  width: 90%;
  font-style: italic;
  line-height: 30px;
}
@media (max-width:576px) {
  .slider-box p {
    width: 100%;
  }
}
.slider-box h6 {
  text-align: start;
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
  color: white;
}
.slider-box h3 {
  text-align: start;
  font-weight: bold;
  padding-top: 10px;
  color: white;
  font-size: 15px;
}
.slider-box span {
  position: absolute;
  right:70px;
  font-size: 70px;
  top: 190px;
  opacity: 0.3;
  color: white;
  font-weight: bold;

  
}
@media (max-width:576px) {
  .slider-box span {
    top: 260px;
  }
}
 .slider-svg svg {
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: 10px;
}
@media (max-width:576px) {
  .slider-svg svg {

    font-size: 30px;

  }
}
.swiper-button-next:after,.swiper-button-prev:after {
  display: none;
}
